html {
  text-align: center;
  font-family: Helvetica;
}

h1,
h2,
h3 {
  font-weight: bold;
}

h1 {
  font-size: 70px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 23px;
}

p {
  font-size: 14px;
}

a {
  color: white;
}

.link {
  font-size: 18px;
  color: white;
}

.footer {
  font-size: 11px;
}

#newyork, #header {
  background-image: url("../images/the-flatiron-building.png");
  background-size: cover;
  color: white;
  background-color: dimgray;
}

#footer {
  color: white;
  background-color: dimgray;
  text-align: left;
}
